.git
.github
docs
Receipt
node_modules
vendor
.env
.phpunit.result.cache
database/*.sqlite
public/build
public/hot
public/storage
storage/app/public/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
